html {
    font-size: 100%;
    background-color: aliceblue;
}
main{
    margin-bottom: 8rem;
}
.container{
    max-width: 1000px; /* コンテンツの最大幅を1000pxに */
    margin: 0 auto; 
}
.header h1{
    padding: 0.5rem;
    font-family: sans-serif;
    margin-left: 2rem;
}
.mainimage-container {
    max-width: 90%;  /* 画面幅の90%に制限 */
  margin: 0 auto;  /* 左右中央寄せ */
  margin-bottom: 3rem;
}
.mainimage {
    width: 100%;         /* 親要素の幅に合わせる */
    height: auto;        /* アスペクト比を維持 */
    display: block;      /* 中央寄せ用 */
}
.index {
    width: 90%; /* 必要に応じて幅を設定 */
    max-width: 1000px; /* 最大幅を設定してPC表示で広がりすぎないようにする */
    margin: 0 auto; /* 左右の余白を自動調整して中央に寄せる */
    display: flex;
  flex-direction: column; /* 子要素（h2とdiv）を縦に並べる */
  align-items: center; /* 子要素を横方向の中央に揃える */
  margin-bottom: 3rem;
    background-color: #FFFFFF;
}
.index-content {
    width: 100%; /* 必要に応じて幅を設定 */
    max-width: 600px; /* 最大幅を設定してPC表示で広がりすぎないようにする */
    margin: 0 auto; /* 左右の余白を自動調整して中央に寄せる */
}
.index ol {
    margin-bottom: 3rem;
}
.index li {
    margin-bottom: 0.5rem; /* リストアイテム間の余白 */
}
.detail{
    width: 90%; /* 必要に応じて幅を設定 */
    max-width: 1000px; /* 最大幅を設定してPC表示で広がりすぎないようにする */
    margin: 0 auto; /* 左右の余白を自動調整して中央に寄せる */
    display: flex;
  flex-direction: column; /* 子要素（h2とdiv）を縦に並べる */
  align-items: center; /* 子要素を横方向の中央に揃える */
}
.detail-container {
    width: 100%; /* 必要に応じて幅を設定 */
    max-width: 600px; /* 最大幅を設定してPC表示で広がりすぎないようにする */
    margin: 0 auto; /* 左右の余白を自動調整して中央に寄せる */
}
.detail-content {
    display: flex;        /* 横並び */
    gap: 2rem;            /* 画像とテキストの間に余白 */
    align-content: flex-end;
}

.detail-content img {
    flex: 1;  
    max-width: 50%;      /* 固定幅（必要に応じて調整） */
    height: auto;
}
.detailsub {
    flex: 1;              /* 残りの幅を使う */
}
.fotter{
        width: 90%; /* 必要に応じて幅を設定 */
    max-width: 1000px; /* 最大幅を設定してPC表示で広がりすぎないようにする */
    margin: 0 auto; /* 左右の余白を自動調整して中央に寄せる */
    display: flex;
}
.footer p{
    font-size: 0.8rem;
    width: 100%; /* 必要に応じて幅を設定 */
    max-width: 600px; /* 最大幅を設定してPC表示で広がりすぎないようにする */
    margin: 0 auto; /* 左右の余白を自動調整して中央に寄せる */
}
@media (max-width: 1024px) {
    .detail-content {
        flex-direction: column; /* 縦並びに変更 */
        align-items: center;    /* 中央揃え */
    }
    .detail-content img, .detailsub {
        max-width: 50%;        /* 幅を100%に */
        height: 50%;
    }
}